<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="armadillo-code" version="7.800.2" targetFramework="native" />
  <package id="freeglut.3.2.2.v140" version="1.0.0" targetFramework="native" />
  <package id="glew-2.2.0" version="2.2.0.1" targetFramework="native" />
  <package id="glfw" version="3.4.0" targetFramework="native" />
  <package id="glm" version="1.0.1" targetFramework="native" />
  <package id="ImGui.Docking" version="1.88.1" targetFramework="native" />
  <package id="OpenBLAS" version="0.2.14.1" targetFramework="native" />
</packages>